<div class="dialog-content">
  @if (!data.id) {
  <h5 mat-dialog-title>Add Appointment</h5>
  } @else {
  <h5 mat-dialog-title>Edit Appointment</h5>
  }
  <div [formGroup]="form">
    <div mat-dialog-content>
      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Start Time</mat-label>
        <input matInput formControlName="startTime" type="time" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>End Time</mat-label>
        <input matInput formControlName="endTime" type="time" />
      </mat-form-field>
      @if (form.getError('timeRangeInvalid')) {
      <div class="error">End time must be after start time.</div>
      }
    </div>
    <div mat-dialog-actions align="end">
      <button type="submit" mat-flat-button (click)="onSaveClick()">
        @if (data.id) {
        <span>Edit Appointment</span>
        } @else {
        <span>Add Appointment</span>
        }
      </button>
      @if (data.id) {
      <button
        (click)="onDeleteClick()"
        style="margin-left: 10px"
        mat-stroked-button>
        Delete
      </button>
      }
      <button style="margin-left: 10px" mat-stroked-button (click)="close()">
        Cancel
      </button>
    </div>
  </div>
</div>
