.dialog-content {
  padding: 30px 30px 20px;
  .form-field {
    width: 100%;
  }
  .error {
    color: red;
  }
}

mat-form-field {
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
