<div class="container" cdkDropListGroup>
  <div class="calendar-container">
    <div class="calendar-header">
      <div>
        @if (currentView === 'month' || currentView === 'week') {
        <h2 class="calendar-month">
          {{ viewDate | date : "MMMM" }}
          <span>{{ viewDate | date : "y" }}</span>
        </h2>
        } @if (currentView === 'day') {
        <h2 class="calendar-month">
          {{ viewDate | date : "d MMMM" }}
          <span>{{ viewDate | date : "y" }}</span>
        </h2>
        <span class="calendar-dayname">{{ viewDate | date : "EEEE" }}</span>
        }
      </div>
      <mat-button-toggle-group
        class="calendar-view-toggle"
        name="currentView"
        (change)="switchToView($event.value)">
        <mat-button-toggle [checked]="true" [value]="CalendarView.Month">
          Month
        </mat-button-toggle>
        <mat-button-toggle [value]="CalendarView.Week">Week</mat-button-toggle>
        <mat-button-toggle [value]="CalendarView.Day">Day</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="calendar-controls">
        <button mat-icon-button (click)="previous()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-stroked-button (click)="viewToday()">Today</button>
        <button mat-icon-button (click)="next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-flat-button (click)="selectDate()">Add Appointment</button>
      </div>
    </div>

    @if (currentView === 'month') {
    <table class="calendar-view-month" width="100%">
      <thead>
        <tr>
          @for (day of weekDays; track day) {
          <th>{{ day }}</th>
          }
        </tr>
      </thead>
      <tbody cdkDropListGroup>
        @for (week of weeks; track week) {
        <tr>
          @for (date of week; track date) {
          <td
            cdkDropList
            (cdkDropListDropped)="drop($event, date)"
            [cdkDropListData]="appointments"
            [class.today]="isToday(date)">
            <div class="cell-overlay" (click)="selectDate(date)"></div>
            <div class="date">{{ date.getDate() }}</div>
            <div class="appointments">
              @for (appointment of appointments; track appointment.id) { @if
              (isSameDate(appointment.date, date)) {
              <div
                class="appointment"
                cdkDrag
                cdkDragHandle
                [cdkDragData]="appointment"
                (click)="editAppointment(appointment, $event)">
                <span>{{ appointment.title }}</span>
              </div>
              } }
            </div>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
    } @if (currentView === 'week') {
    <table class="calendar-view-week" width="100%">
      <thead>
        <tr>
          <th></th>
          @for (day of weekDays; let i = $index; track day) {
          <th>{{ day }} {{ monthDays[i].getDate() }}</th>
          }
        </tr>
      </thead>
      <tbody cdkDropListGroup>
        @for (timeSlot of timeSlots; track timeSlot) {
        <tr>
          <td width="10" class="calendar-slot-cell">
            <span>{{ timeSlot }}</span>
          </td>
          @for (day of weekDays; let i = $index; track day) {
          <td
            cdkDropList
            (cdkDropListDropped)="drop($event, monthDays[i], timeSlot)"
            [cdkDropListData]="appointments">
            <div
              class="cell-overlay"
              (click)="selectDate(monthDays[i], timeSlot)">
            </div>
            @for (appointment of getAppointmentsForDateTime(monthDays[i],
            timeSlot); track appointment.id) {
            <div
              class="appointment"
              cdkDrag
              cdkDragHandle
              [cdkDragData]="appointment"
              (click)="editAppointment(appointment, $event)">
              <span>{{ appointment.title }}</span>
            </div>
            }
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
    } @if (currentView === 'day') {
    <table class="calendar-view-day" width="100%">
      <tbody cdkDropListGroup>
        @for (slot of timeSlots; track slot) {
        <tr>
          <td width="10" class="calendar-slot-cell">
            <span>{{ slot }}</span>
          </td>
          <td
            cdkDropList
            (cdkDropListDropped)="drop($event, monthDays[0], slot)"
            [cdkDropListData]="appointments">
            <div
              class="cell-overlay"
              (click)="selectDate(monthDays[0], slot)">
            </div>
            @for (appointment of getAppointmentsForDateTime(monthDays[0], slot);
            track appointment.id) {
            <div
              class="appointment"
              cdkDrag
              cdkDragHandle
              [cdkDragData]="appointment"
              (click)="editAppointment(appointment, $event)">
              <span>{{ appointment.title }}</span>
            </div>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
